<div class="container company">
  <%= render 'layouts/wrappers/header' %>
  <%= render 'pages/company-wrappers/hero' %>
  <%= render 'pages/company-wrappers/intro' %>
  <div class="divider-line"></div>
  <%= render 'pages/company-wrappers/services' %>
  <%= render 'pages/company-wrappers/action' %>
  <%= render 'pages/company-wrappers/timeline' %>
</div>
<!-- company -->