<div class="container home">
  <%= render 'layouts/wrappers/header' %>
  <%= render 'pages/home-wrappers/hero' %>
  <%= render 'pages/home-wrappers/clients' %>
  <%= render 'pages/home-wrappers/services' %>
  <%= render 'pages/home-wrappers/action' %>
  <%= render 'pages/home-wrappers/team' %>
</div>
<!-- home -->