<div id="home">
  <%= render 'pages/home-wrappers/hero' %>
  <%= render 'pages/home-wrappers/clients' %>
  <%= render 'pages/home-wrappers/services' %>
  <%= render 'pages/home-wrappers/action' %>
  <%= render 'pages/home-wrappers/team' %>
</div>
<!-- flex-layout -->