    <article class="wrapper footer">
      <div class="map" style="background-image:url(/assets/gothenburg_map_bg_footer.png)">
      </div>
      <section class="flex-container top">
          <div class="flex-column twelve large-three margin-2rem-bottom">
            <figure class="brand">
              <a target="_blank" href="#" class="navbar-brand">
                <img src="<%= asset_path('Logo_nordic.png') %>" alt="Nordic" width="auto" height="auto">
              </a>
              <figcaption>
                <span>Consulting</span>
                <p>&#169; RSG 2016 All rights reserved</p>
              </figcaption>
            </figure>
          </div>
          <div class="flex-column twelve large-three align-left margin-2rem-bottom">
            <h6>Company</h6>
            <section class="flex-container align-center">
              <div class="flex-column large-twelve">
                <%= link_to "home", root_path %>
              </div>
              <div class="flex-column large-twelve">
                <%= link_to "about", company_path %>
              </div>
              <div class="flex-column large-twelve">
                <%= link_to "services", company_path %>
              </div>
              <div class="flex-column large-twelve">
                <%= link_to "contacts", contact_path %>
              </div>
            </section>
          </div>
          <div class="flex-column twelve large-three align-left margin-2rem-bottom">
            <h6>services</h6>
            <section class="flex-container align-center">
              <div class="flex-column large-twelve"><a href="#">Project Management</a></div>
              <div class="flex-column large-twelve"><a href="#">Strategic sourcing</a></div>
              <div class="flex-column large-twelve"><a href="#">Market planning</a></div>
              <div class="flex-column large-twelve"><a href="#">Assessment of M&amp;A</a></div>
            </section>
          </div>
          <div class="flex-column twelve large-three align-left margin-2rem-bottom">
            <h6>Follow us</h6>
            <section class="flex-container align-center margin-2rem-bottom social">
              <div class="flex-column">
                <a href="#" target="_blank">
                  <a href="mailto:nordic@rsg.se"><i class="fa fa-envelope-square fa-2x"></i></a>
                </a>
              </div>
              <div class="flex-column">
                <a href="#" target="_blank">
                  <i class="fa fa-linkedin-square fa-2x"></i>
                </a>
              </div>
              <div class="flex-column">
                <a href="https://twitter.com/nordic_rsg" target="_blank">
                  <i class="fa fa-twitter-square fa-2x"></i>
                </a>
              </div>
              <div class="flex-column">
                <a href="#" target="_blank">
                  <i class="fa fa-facebook-square fa-2x"></i>
                </a>
              </div>
              <div class="flex-column">
                <a href="https://plus.google.com/118023480434666318174" target="_blank">
                  <i class="fa fa-google-plus-square fa-2x"></i>
                </a>
              </div>
            </section>

            <section class="flex-container align-center">
              <div class="flex-column">
                <p class="city">Gothenburg</p>
                <address>
                  RSG Nordic AB<br>
                  Tradgardsgatan 3<br>
                  411 08 Gothenburg<br>
                  Sweden<br>
                </address>
                <span><a class="tel" alt="Call Gothenburg" title="Call Gothenburg" href="tel:+46317999040">+46 31-799 90 40</a></span>
              </div>
              <div class="flex-column">
                <p class="city">Stockholm</p>
                <address>
                  RSG Nordic AB<br>
                  Tradgardsgatan 3<br>
                  411 08 Gothenburg<br>
                  Sweden<br>
                </address>
                <span>
                  <a class="tel" alt="Call Stockholm" title="Call Stockholm" href="tel:+46317119020">+46 31-711 90 20</a>
                  </span>
              </div>
            </section>
          </div>
        </section>
        <section class="flex-container bottom">
          <div class="flex-column twelve toronto">
            <p>Made with <i class="fa fa-heart"></i> in Toronto by <a href="http://www.ahmednadar.com">Ahmed Nadar</a></p>
          </div>
      </section>
    </article>
    <!--  footer -->