<header class="header">
  <section class="flex-container align-justify">
    <div class="flex-column twelve medium-four large-four">
      <figure class="brand">
        <%= link_to root_path, class:"navbar-brand" do %>
          <img src="<%= asset_path('Logo_nordic.png') %>" alt="Nordic" width="auto" height="auto">
        <% end %>
      </figure>
    </div>
    <div class="flex-column twelve medium-eight large-eight">
      <nav class="navbar navbar-right">
        <ul class="align-right">
          <li class="flex-column three large-four">
            <%= link_to root_path do %>
              <span>Home</span>
            <% end %>
          </li>
          <li class="flex-column three large-four">
            <%= link_to company_path do %>
              <span>Company</span>
            <% end %>
          </li>
          <li class="flex-column three large-four">
            <%= link_to contact_path do %>
              <span>Contact</span>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</header>