<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<head>
  <title>Nordic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="<%= asset_path('nordic_icon.png') %>">
</head>
<body class="loading">
  <div id="home" class="flex-layout">
    <%= yield %>
    <%= render 'layouts/wrappers/footer' %>
    <%= javascript_include_tag 'application' %>
  </div>
  <!-- flex-layout -->
</body>
</html>
