<!DOCTYPE html>
<html>
<head>
  <title>Nordic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="home company" class="flex-layout">
    <%= yield %>
    <%= render 'layouts/wrappers/footer' %>
   </div>
  <!-- flex-layout -->
</body>
</html>
